<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Zulrah_Rotation_Assistant.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <Zulrah_Rotation_Assistant.Properties.Settings>
            <setting name="MeleeColor" serializeAs="String">
                <value>246, 0, 58</value>
            </setting>
            <setting name="MageColor" serializeAs="String">
                <value>20, 128, 250</value>
            </setting>
            <setting name="RangeColor" serializeAs="String">
                <value>90, 254, 0</value>
            </setting>
            <setting name="JadColor" serializeAs="String">
                <value>255, 128, 0</value>
            </setting>
            <setting name="PassiveColor" serializeAs="String">
                <value>90, 250, 0</value>
            </setting>
            <setting name="ZulrahIsland_Color" serializeAs="String">
                <value>255, 253, 253</value>
            </setting>
            <setting name="PlayerColor" serializeAs="String">
                <value>218, 36, 229</value>
            </setting>
            <setting name="ZulrahIsland_BorderColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="MapBackgroundColor" serializeAs="String">
                <value>49, 49, 49</value>
            </setting>
            <setting name="MeleeVoiceCommand" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="MageVoiceCommand" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="RangeVoiceCommand" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="NorthPositionVoiceCommand" serializeAs="String">
                <value>Top</value>
            </setting>
            <setting name="WestPositionVoiceCommand" serializeAs="String">
                <value>Left</value>
            </setting>
            <setting name="EastPositionVoiceCommand" serializeAs="String">
                <value>Right</value>
            </setting>
            <setting name="SouthPositionVoiceCommand" serializeAs="String">
                <value>Bottom</value>
            </setting>
            <setting name="ResetVoiceCommand" serializeAs="String">
                <value>Reset</value>
            </setting>
            <setting name="PreviousVoiceCommand" serializeAs="String">
                <value>Previous</value>
            </setting>
            <setting name="NextVoiceCommand" serializeAs="String">
                <value>Next</value>
            </setting>
            <setting name="MapFlipped" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VoiceCommandLanguage" serializeAs="String">
                <value>en-US</value>
            </setting>
        </Zulrah_Rotation_Assistant.Properties.Settings>
    </userSettings>
</configuration>
